<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #6900b6">
  <a class="navbar-brand" href="#">
    <img src="/images/logo1.png" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">HOME<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#testimonio">NOTICIAS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#tituloseccionlol">LEAGUE OF LEGENDS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#cartanosotros">NOSOTROS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#historia">HISTORIA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.kelme.com/en/7211-koi-squad">SHOP</a>
      <li class="nav-item2" id="singin">
        <a class="fa fa-sign-in" style="font-size:24px" id="buttonsingin" href="formulario.html"></a>
      </li>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <div id="home" class="row align-items-center hero">
    <div class="col-lg-2 offset-lg-2">
      <hl class="titulo">Finetwork KOI</hl>
      <p id="textoheader">
        Finetwork KOI es el equipo de esports lanzado por Gerard Piqué e
        Ibai Llanos para luchar por el título de campeón de la Superliga de
        League of Legends. La escuadra de KOI tiene como objetivo conseguir
        el título de la máxima competición de LoL en España y crear un club
        referente en esports a nivel de competición y de contenidos.
      </p>
    </div>
  </div>
  <!-- ARRANCA NOVEDADES -->
  <div id="novedades" class="row py-4">
    <div class="col-md-5 offset-md-2 py-3">
      <h2 id="tituloseccionlol">NOVEDADES LOL</h2>
      <ul class="lista-novedades">
        <li>
          <a href="#" data-toggle="modal" data-target="#modalEjemplo"><img src="/images/hoyjuegakoi.jpg" /> Hoy juega
            KOI</a>
        </li>
        <li>
          <a href="#"><img src="/images/hoyjuegakoi.jpg" /> Fecha anterior</a>
        </li>
        <li>
          <a href="#"><img src="/images/hoyjuegakoi.jpg" /> Fecha anterior</a>
        </li>
        <li>
          <a href="#"><img src="/images/hoyjuegakoi.jpg" /> Fecha anterior</a>
        </li>
        <li>
          <a href="#"><img src="/images/hoyjuegakoi.jpg" /> Fecha anterior</a>
        </li>
      </ul>
    </div>
    <!-- TERMINA SECCION NOVEDADES PERO EL DIV CIERRA ABAJO -->
    <!-- ARRANCA TESTIMONIOS -->
    <div class="col-md-3">
      <div class="rounded py-3 testimonios">
        <h2 class="text-center" id="testimonio">TESTIMONIOS</h2>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="testimonio">
                <h5>
                  "Hasta aquí nuestra temporada en superliga. Hoy ellos han
                  sido mejores. Terminamos top 4 después de haber remontado
                  una situación muy complicada."
                </h5>
                <p>
                  <a href="https://twitter.com/IbaiLlanos">@ibaillanos</a>
                  Via Twitter
                </p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="testimonio">
                <h5>
                  "Gracias a todos por compartir conmigo la pasión que
                  significa KOI. Lo mejor está por llegar."
                </h5>
                <p>
                  <a href="https://twitter.com/IbaiLlanos">@ibaillanos</a>
                  Via Twitter
                </p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="testimonio">
                <h5>
                  "Aquí termina nuestro split de primavera, un amargo final
                  para haber terminado terceros en fase regular."
                </h5>
                <p>
                  <a href="https://twitter.com/KOI">@KOI</a> Via Twitter
                </p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
    <!-- TERMINA TESTIMONIOS -->
  </div>
  <!-- TERMINA NOVEDADES -->

  <!-- ARRANCA HISTORIA -->
  <div class="historiacompleta">
  <h2 id="historiatitulo">HISTORIA</h2>
  <div id="historia" class="row align-items-center py-4">
    <div class="col-lg-2 col-md-3 offset-lg-2 d-none d-sm-block">
      <img src="images/historia.jpg" alt="historia 1" class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-3 d-none d-sm-block">
      <img src="images/historia3.jpg" alt="historia 2" class="img-fluid">
    </div>
    <div class="col-12 d-sm-none">
      <img src="" alt="historia 3" class="img-fluid">
    </div>
    <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
      
      <p id="textohistoria">El 1 de septiembre de 2021 el influencer y caster español Ibai Llanos anunció junto al
        futbolista Gerard Piqué mediante un vídeo en su canal de YouTube que conformarían un equipo de deportes
        electrónicos para la Superliga LVP (competición de League of Legends), adquiriendo una plaza después del ascenso
        de uno de los equipos.
        El 15 de noviembre, El streamer, comentarista de deportes electrónicos y ahora empresario Ibai Llanos, inició un
        directo desde la plataforma de streaming Twitch donde finalmente reveló día y lugar de presentación de su
        ansiado equipo: 15 de diciembre en el Palau Sant Jordi.
        Finalmente, el 15 de diciembre de 2021 fué la presentación oficial en el Palau Sant Jordi frente a 15.000
        personas que asistieron al evento y otras que lo siguieron a través del directo en la plataforma de streaming
        Twitch, con picos de audiencia que superaban las 350.000 personas. Se acabó el misterio: Se llamaba Finetwork
        KOI, nombre que remite a una leyenda japonesa de los peces koi, y cómo uno de ellos nadó en contracorriente a
        través del río, llegando a lo más alto de una cascada para convertirse finalmente en un dragón.</p>
    </div>
  </div>
  </div>
  <!-- TERMINA HISTORIA -->


  <!-- ARRANCA CARD -->
  <div id="cartanosotros" class="row align-items-stretch my-3 owners py-4">
    <div class="col-lg-5 offset-lg-4">
      <h2 id="titulogeneralcarta">NOSOTROS</h2>
      <div class="card-deck">
        <div class="card">
          <img src="images/pique.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Gerard Piqué</h5>
            <p class="card-text">
              Gerard Piqué es un futbolista español que juega como defensa
              en el F. C. Barcelona de la Primera División de España. Es
              cofundador, junto a Ibai Llanos, del equipo de deportes
              electrónicos KOI. Tambien es dueño de parte de la Copa Davis.

            </p>
            <p class="card-text2">
              <a href="https://twitter.com/3gerardpique" class="fa fa-twitter"></a><a
                href="https://instagram.com/3gerardpique" class="fa fa-instagram"></a>
            </p>
          </div>
        </div>
        <div class="card">
          <img src="images/ibai.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Ibai Llanos</h5>
            <p class="card-text">
              Ibai Llanos Garatea es un streamer, youtuber y presentador de
              deportes electrónicos español. Es cofundador, junto a Gerard
              Piqué, del equipo de deportes electrónicos KOI. También fue
              creador de contenido para G2 Esports en 2020
            </p>
            <p class="card-text2">
              <a href="https://twitter.com/IbaiLlanos" class="fa fa-twitter"></a><a
                href="https://instagram.com/ibaillanos" class="fa fa-instagram"></a>

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- TERMINA CARD -->
  <!-- INICIO FORMULARIO -->
  <form>
    <div class="form-group">
      <h2 id="titulogeneralcontacto">CONTÁCTANOS</h2>
      <label for="mail">Dirección Email</label>
      <input type="email" class="form-control" id="mail" placeholder="Name@example.com">
    </div>
    <div class="form-group">
      <label for="genero">Género</label>
      <select class="form-control" id="genero">
        <option>Selecciona una opción</option>
        <option>Femenino</option>
        <option>Masculino</option>
        <option>Otro</option>
      </select>
    </div>
    <div class="form-group">
      <label for="consulta">Envíanos tu consulta</label>
      <textarea class="form-control" id="consulta" rows="2"></textarea>
    </div>
  </form>
</div>
<!-- FIN FORMULARIO -->
<!-- inicio modal -->
<div class="modal fade" id="modalEjemplo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Partido KOI</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">----------</div>
    </div>
  </div>
</div>
<!-- fin modal -->

<footer>
  <p class="text-center">DISEÑADO POR EZEQUIEL JUMILLA</p>
</footer>
</div>